<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/fansstyles.css">
    <title>Brainwreck</title>
</head>
<body>
<!--Add the database interaction and display for the shows attended table-->
<nav class="nav">
    <div>
        <a href="/" id="logo">Brainwreck</a>
    </div>
    <div class="nav-right">
        <ul>
            <li>
                <a href="contactUs">Contact Us</a>
            </li>
            <li>
                <a href="pictures">Pictures</a>
            </li>
            <li>
                <a href="funFacts">Band Member Fun Facts</a>
            </li>
            <li>
                <a href="aboutUs">About Us</a>
            </li>
            <li>
                <a href="shows">Previous Shows</a>
            </li>
            <li>
                <a href="tour">Current Tour</a>
            </li>
            <li>
                <a href="mailList">Mailing List</a>
            </li>
            <li>
                <a href="fans">Fans</a>
            </li>
        </ul>
    </div>
</nav>
<div class="h-75 d-inline-block">
    <div>
        <div id="main">
            <h1>Fans</h1>
            <table class="tableContainer" id="emailList">
                <thead>
                <tr><td><label for="search">Search for a fan</label></td></tr>
                <tr><form method="post" action="/searchFans">
                    <td> <input type="text" name="searchFirst" placeholder="First Name"></td>
                    <td> <input type="text" name="searchLast" placeholder="Last Name"></td>
                    <td> <input type="text" name="searchEmail" placeholder="email"></td>
                    <td> <input type = "submit" name = "Search" value =
                            "Search"></td></form>
                    <td><a href="/fans"><input type="button" name="Clear Filter" value = "Clear Filter"></a></td>
                </tr>
                </table>
            <table class="tableContainer">
                <thead>
                    <tr>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Email</td>
                    </tr>
                </thead>
                <tbody>
                  {{#if results}}
                        {{#each results}}
                            <tr>
                            <td>{{this.firstName}}</td>
                            <td>{{this.lastName}}</td>
                            <td>{{this.email}}</td>
                            <td><a href="/editFan?id={{this.id}}"><input type="button" value="Update"
                                                                       name="edit"></a></td>
                            <td><a href="/deleteFan?id={{this.id}}"><input type="button" class = "delete" name="delete"
                                                                           value="Delete"></a></td>
                            <td><a href="/orders?id={{this.id}}"><input type="button" class = "order" name="order"
                                                                           value="My Orders"></a></td>
                            </tr>
                        {{/each}}
                  {{/if}}
                </tbody>
              </table>
            <table>
                <tr><td>1</td></tr>
                <tr><td>2</td></tr>
                <tr><td>3</td></tr>
                <tr><td>4</td></tr>
            </table>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-3">
        <div class = "container">
            <span class="text-muted">
                <a href="https://www.facebook.com" target="_blank"><img src="/static/facebook.png" alt="facebook"
                                                                        class="footerLogos"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="/static/instagram.png" alt="instagram" class="footerLogos"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="/static/twitter.png" alt="twitter" class="footerLogos"></a>
            Icons made by <a href="https://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a> / Images by <a href="https://www.unsplash.com" target="_blank">Unsplash</a>

            </span>
        </div>
</footer>


<script src="/static/script.js"></script>

</body>
</html>
