<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/tourstyles.css">
    <title>Brainwreck</title>
</head>
<body>
<!--Add the database interaction to view the tour-->
<nav class="nav">
    <div>
        <a href="/" id="logo">Brainwreck</a>
    </div>
    <div class="nav-right">
        <ul>
            <li>
                <a href="contactUs">Contact Us</a>
            </li>
            <li>
                <a href="pictures">Pictures</a>
            </li>
            <li>
                <a href="funFacts">Band Member Fun Facts</a>
            </li>
            <li>
                <a href="aboutUs">About Us</a>
            </li>
            <li>
                <a href="shows">Previous Shows</a>
            </li>
            <li>
                <a href="tour">Current Tour</a>
            </li>
            <li>
                <a href="mailList">Mailing List</a>
            </li>
            <li>
                <a href="fans">Fans</a>
            </li>
        </ul>
    </div>
</nav>
<div id="fullpage">
    <div>
        <div id="main">
            <h1>Tour Dates</h1>
            <div class="tableContainer">
                <h3>Add a Concert</h3>
                <form action="/addShow" method="POST">
                    <div class="formContainer">
                        {{#if error}}
                            {{error}}
                        {{/if}}
                        <label for="date">Date: </label>
                        <input type="datetime-local" id="date" name="date" required>

                        <label for="venue">Venue: </label>
                        <select name="venue" id="venue">
                            <option value = ""> -- Choose a Venue -- </option>
                            {{#each venues}}
                                <option value="{{this.id}}">{{this.name}} at {{this.city}}, {{this.state}}</option>
                            {{/each}}
                        </select>
                        <p><strong>**All Fields Required**</strong></p>
                        <input type="submit">
                    </div>            
                </form>
            </div>
            <table class="tableContainer">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Venue</td>
                        <td>Location</td>
                        <td>Ticket Availability</td>
                    </tr>
                </thead>
                <tbody>
                    {{#if results}}
                        {{#each results}}
                            <tr>
                                <td>{{this.calendar}}</td>
                                <td>{{this.venue}}</td>
                                <td>{{this.city}}, {{this.state}}</td>
                                {{#if this.ticketsAvail}}
                                    <td>Available Now!</td>
                                {{else}}
                                    <td>Sold Out</td>
                                {{/if}}
                                <td><a href="/editShow?id={{this.id}}"><input type="button" value="Update"
                                                                       name="edit"></a></td>
                                <td><a href="/deleteShow?id={{this.id}}"><input type="button" class = "delete" name="delete"
                                                                           value="Delete"></a></td>
                                {{#if this.ticketsAvail}}
                                    <td><a href="/buyShow?id={{this.id}}"><input type="button" class = "buy" name="buy"
                                                                           value="Buy Tickets"></a></td>
                                {{else}}
                                    <td><a href="/buyShow?id={{this.id}}"><input type="button" disabled class = "buy"
                                                                                 name="buy"
                                                                                 value="Buy Tickets"></a></td>
                                {{/if}}
                            </tr>
                        {{/each}}
                    {{/if}}
                </tbody>
              </table>
        </div>
    </div>
    <footer class="footer mt-auto py-3">
        <div class = "container">
            <span class="text-muted">
                <a href="https://www.facebook.com" target="_blank"><img src="/static/facebook.png" alt="facebook"
                                                                        class="footerLogos"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="/static/instagram.png" alt="instagram" class="footerLogos"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="/static/twitter.png" alt="twitter" class="footerLogos"></a>
            Icons made by <a href="https://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a> / Images by <a href="https://www.unsplash.com" target="_blank">Unsplash</a>

            </span>
        </div>
    </footer>


    <script src="/static/script.js"></script>

</body>
</html>